span{
	background: hotpink;
	padding: 10px;
	color: white;
	display:inline-block;
	margin: 10px 0;
}
.changeColor span{
	background: red;
}
.changeWidth span:after{
	width: 200px;
	content: "alert";
}