<html>
<head>
	<title></title>
	<style type="text/css">
		.wrap{
			width: 600px;
			height: 400px;
			border: 1px solid;
		}
		.box{
			width: 150px;
			height: 150px;
			display: inline-block;
		}
	</style>
</head>
<body>
	<div class="wrap">
			<div class="box">
				<button>喵姐</button></div>
			<div class="box">
				<p>{{}}</p></div>
			<div class="box">
				<p></p></div>
			<div class="box">
				<p></p></div>
			<div class="box">
				<p></p></div>
			<div class="box">
				<p></p></div>
	</div>
</body>
</html>